#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

#friends-display-link i:first-child {
  margin-right: 10px;
  opacity: 0.1;
}

#friends-display-link i:last-child {
  margin-left: 10px;
  opacity: 0.1;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  opacity: 0.4;
  border-top: var(--main-border);
  padding-top: 10px;
}
