.user-component {
  display: flex;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  margin: 10px 15px;
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 15px;
}

.user-component__title {
  font-weight: 500;
  font-size: 20px;
}
.user-component__subtitle {
  margin-top: 7px;
  opacity: 0.4;
}
